<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>API_KEY</key>
	<string>AIzaSyC4FRIFFZOV552EACo66Abq_xe5-_iR_Wo</string>
	<key>GCM_SENDER_ID</key>
	<string>524251306676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LiteralNest.BloodRustt</string>
	<key>PROJECT_ID</key>
	<string>bloodrust-2c09a</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodrust-2c09a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:524251306676:ios:aa66d7fcd380cab63195e1</string>
</dict>
</plist>
